In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import Column, Integer, String, Float
import psycopg2

from db_pw import password

import pandas as pd

Base = declarative_base()

In [2]:
database_path = "project2-pokedex"
engine = create_engine(f'postgresql://postgres:{password}@localhost/{database_path}')
conn = engine.connect()

session = Session(bind=engine)

In [3]:
Base.metadata.create_all(conn)

In [ ]:
'''
class Stats(Base):
    __tablename__ = 'STATS'
    name = Column(String, primary_key=True)
    baseStat = Column(Integer)
    healthPoints = Column(Integer)
    attack = Column(Integer)
    defense = Column(Integer)
    specialAttack = Column(Integer)
    specialDefense = Column(Integer)
    speed = Column(Integer)
'''

In [ ]:
#test = Stats(name="Test", baseStat=1, healthPoints=1, attack=1, defense=1, specialAttack=1, specialDefense=1, speed=1)

In [ ]:
#session.add(test)
#session.commit()
#session.rollback()

In [4]:
df_pokemonCSV = pd.read_csv('../resources/df_pokemon.csv')
pokemonCSV = pd.read_csv('../resources/pokemon.csv')
smogonCSV = pd.read_csv('../resources/smogon.csv')
bridgeAbilityCSV = pd.read_csv('../resources/bridge_pokemon_ability_MAY_HAS.csv')
bridgeMoveUsedCSV = pd.read_csv('../resources/bridge_pokemon_move_USED_WITH_MOVE.csv')
bridgeMovesMayLearnCSV = pd.read_csv('../resources/bridge_pokemon_moves_MAY_LEARN.csv')

In [ ]:
df_pokemonCSV

In [5]:
# Table 1
# pokemonCSV

pokedexDF = pd.DataFrame({
    "nationalDexNumber": pokemonCSV['pokedex_number'],
    "name": pokemonCSV['name'],
    "description": pokemonCSV['classfication'],
    "weight": pokemonCSV['weight_kg'].fillna(0.0),
    "height": pokemonCSV['height_m'],
    "type1": pokemonCSV['type1'],
    "type2": pokemonCSV['type2'].fillna('-'),
    "evolvesFrom": ""
})

pokedexDF = pokedexDF.set_index(['nationalDexNumber'])

pokedexDF.head(50)

,name,description,weight,height,type1,type2,evolvesFrom
nationalDexNumber,,,,,,,
1,Bulbasaur,Seed Pokémon,6.9,0.7,grass,poison,
2,Ivysaur,Seed Pokémon,13.0,1.0,grass,poison,
3,Venusaur,Seed Pokémon,100.0,2.0,grass,poison,
4,Charmander,Lizard Pokémon,8.5,0.6,fire,-,
5,Charmeleon,Flame Pokémon,19.0,1.1,fire,-,
6,Charizard,Flame Pokémon,90.5,1.7,fire,flying,
7,Squirtle,Tiny Turtle Pokémon,9.0,0.5,water,-,
8,Wartortle,Turtle Pokémon,22.5,1.0,water,-,
9,Blastoise,Shellfish Pokémon,85.5,1.6,water,-,
10,Caterpie,Worm Pokémon,2.9,0.3,bug,-,
11,Metapod,Cocoon Pokémon,9.9,0.7,bug,-,
12,Butterfree,Butterfly Pokémon,32.0,1.1,bug,flying,
13,Weedle,Hairy Pokémon,3.2,0.3,bug,poison,
14,Kakuna,Cocoon Pokémon,10.0,0.6,bug,poison,
15,Beedrill,Poison Bee Pokémon,29.5,1.0,bug,poison,
16,Pidgey,Tiny Bird Pokémon,1.8,0.3,normal,flying,
17,Pidgeotto,Bird Pokémon,30.0,1.1,normal,flying,
18,Pidgeot,Bird Pokémon,39.5,1.5,normal,flying,
19,Rattata,Mouse Pokémon,0.0,NaN,normal,dark,
20,Raticate,Mouse Pokémon,0.0,NaN,normal,dark,
21,Spearow,Tiny Bird Pokémon,2.0,0.3,normal,flying,
22,Fearow,Beak Pokémon,38.0,1.2,normal,flying,
23,Ekans,Snake Pokémon,6.9,2.0,poison,-,
24,Arbok,Cobra Pokémon,65.0,3.5,poison,-,
25,Pikachu,Mouse Pokémon,6.0,0.4,electric,-,
26,Raichu,Mouse Pokémon,0.0,NaN,electric,electric,
27,Sandshrew,Mouse Pokémon,0.0,NaN,ground,ice,
28,Sandslash,Mouse Pokémon,0.0,NaN,ground,ice,
29,Nidoran♀,Poison Pin Pokémon,7.0,0.4,poison,-,
30,Nidorina,Poison Pin Pokémon,20.0,0.8,poison,-,
31,Nidoqueen,Drill Pokémon,60.0,1.3,poison,ground,
32,Nidoran♂,Poison Pin Pokémon,9.0,0.5,poison,-,
33,Nidorino,Poison Pin Pokémon,19.5,0.9,poison,-,
34,Nidoking,Drill Pokémon,62.0,1.4,poison,ground,
35,Clefairy,Fairy Pokémon,7.5,0.6,fairy,-,
36,Clefable,Fairy Pokémon,40.0,1.3,fairy,-,
37,Vulpix,Fox Pokémon,0.0,NaN,fire,ice,
38,Ninetales,Fox Pokémon,0.0,NaN,fire,ice,
39,Jigglypuff,Balloon Pokémon,5.5,0.5,normal,fairy,
40,Wigglytuff,Balloon Pokémon,12.0,1.0,normal,fairy,
41,Zubat,Bat Pokémon,7.5,0.8,poison,flying,
42,Golbat,Bat Pokémon,55.0,1.6,poison,flying,
43,Oddish,Weed Pokémon,5.4,0.5,grass,poison,
44,Gloom,Weed Pokémon,8.6,0.8,grass,poison,
45,Vileplume,Flower Pokémon,18.6,1.2,grass,poison,
46,Paras,Mushroom Pokémon,5.4,0.3,bug,grass,
47,Parasect,Mushroom Pokémon,29.5,1.0,bug,grass,
48,Venonat,Insect Pokémon,30.0,1.0,bug,poison,
49,Venomoth,Poison Moth Pokémon,12.5,1.5,bug,poison,
50,Diglett,Mole Pokémon,0.0,NaN,ground,ground,

In [ ]:
df_pokemonCSV_new = df_pokemonCSV.fillna('-')
#df_pokemonCSV = df_pokemonCSV.set_index(['ID'])

for index,pokemon in df_pokemonCSV.iterrows():
    if pokemon.Evolves_from == '-':
        print("NULL")
    else:
        print(f"{index} - {pokemon.Evolves_from}")

In [ ]:
pokedexDF.loc[:, ['name', 'evolvesFrom']]
pokedexDF.loc[1,'name']
#df_pokemonCSV_new.loc[1, 'Name']
# df_pokemonCSV_new.loc[index,'Evolves_from']
df_pokemonCSV

In [6]:
for index, pokemonDF in pokedexDF.iterrows():
    try:
        pokedexDF.at[index,'evolvesFrom'] = df_pokemonCSV['Evolves_from'].loc[(df_pokemonCSV['Name'] == pokemonDF['name'])].values[0]
    except:
        pokedexDF.at[index,'evolvesFrom'] = '-'
    #print(f"{pokemonDF['name']} - {df_pokemonCSV['Evolves_from'].loc[(df_pokemonCSV['Name'] == pokemonDF['name'])].values[0]}")
    
#pokedexDF = pokedexDF.fillna('-')

In [9]:
pokedexDF.dtypes

name            object
description     object
weight         float64
height         float64
type1           object
type2           object
evolvesFrom     object
dtype: object

In [7]:
pokedexDF.head(20)

,name,description,weight,height,type1,type2,evolvesFrom
nationalDexNumber,,,,,,,
1,Bulbasaur,Seed Pokémon,6.9,0.7,grass,poison,NaN
2,Ivysaur,Seed Pokémon,13.0,1.0,grass,poison,Bulbasaur
3,Venusaur,Seed Pokémon,100.0,2.0,grass,poison,Ivysaur
4,Charmander,Lizard Pokémon,8.5,0.6,fire,-,NaN
5,Charmeleon,Flame Pokémon,19.0,1.1,fire,-,Charmander
6,Charizard,Flame Pokémon,90.5,1.7,fire,flying,Charmeleon
7,Squirtle,Tiny Turtle Pokémon,9.0,0.5,water,-,NaN
8,Wartortle,Turtle Pokémon,22.5,1.0,water,-,Squirtle
9,Blastoise,Shellfish Pokémon,85.5,1.6,water,-,Wartortle
10,Caterpie,Worm Pokémon,2.9,0.3,bug,-,NaN
11,Metapod,Cocoon Pokémon,9.9,0.7,bug,-,Caterpie
12,Butterfree,Butterfly Pokémon,32.0,1.1,bug,flying,Metapod
13,Weedle,Hairy Pokémon,3.2,0.3,bug,poison,NaN
14,Kakuna,Cocoon Pokémon,10.0,0.6,bug,poison,Weedle
15,Beedrill,Poison Bee Pokémon,29.5,1.0,bug,poison,Kakuna
16,Pidgey,Tiny Bird Pokémon,1.8,0.3,normal,flying,NaN
17,Pidgeotto,Bird Pokémon,30.0,1.1,normal,flying,Pidgey
18,Pidgeot,Bird Pokémon,39.5,1.5,normal,flying,Pidgeotto
19,Rattata,Mouse Pokémon,0.0,NaN,normal,dark,NaN
20,Raticate,Mouse Pokémon,0.0,NaN,normal,dark,Rattata

## Table 1 complete, loading it to postgres

database_path = "project2-pokedex"
engine = create_engine(f'postgresql://postgres:{password}@localhost/{database_path}')
conn = engine.connect()

session = Session(bind=engine)

database_path = "project2-pokedex"
conn_string = 'postgresql://postgres:{password}@localhost/{database_path}'

db = create_engine(conn_string)
conn = db.connect()
conn1 = psycopg2.connect(
    database = "

In [10]:
#pokedexDF.to_sql('POKEDEX', engine, if_exists='append')

'\n## Prior code above ##\ndbName = "project2-pokedex"\n\npokedexDF.to_sql(\'POKEDEX\', con = engine , if_exists=\'replace\',\n         index=False)\nconn = psycopg2.connect(f"postgresql://postgres:{password}@localhost/{database_path}")\n\nconn.autocommit = True\ncursor = conn.cursor()\n'

In [ ]:
#session.close()

# Table 2 transformations

In [ ]:
df_pokemonCSV

In [11]:
# Table 2
statsDF = pd.DataFrame({
    "nationalDexNumber": df_pokemonCSV.ID,
    "name": df_pokemonCSV.Name, 
    "baseStat": df_pokemonCSV.Total, 
    "healthPoints": df_pokemonCSV.HP,
    "attack": df_pokemonCSV.Attack,
    "defense": df_pokemonCSV.Defense,
    "specialAttack": df_pokemonCSV["Sp. Atk"],
    "specialDefense": df_pokemonCSV["Sp. Def"],
    "speed": df_pokemonCSV.Speed
})
statsDF = statsDF.dropna()
statsDF['baseStat'] = statsDF['baseStat'].astype('int32')
statsDF['healthPoints'] = statsDF['healthPoints'].astype('int32')
statsDF['attack'] = statsDF['attack'].astype('int32')
statsDF['defense'] = statsDF['defense'].astype('int32')
statsDF['specialAttack'] = statsDF['specialAttack'].astype('int32')
statsDF['specialDefense'] = statsDF['specialDefense'].astype('int32')
statsDF['speed'] = statsDF['speed'].astype('int32')

statsDF

,nationalDexNumber,name,baseStat,healthPoints,attack,defense,specialAttack,specialDefense,speed
0,1,Bulbasaur,318,45,49,49,65,65,45
1,2,Ivysaur,405,60,62,63,80,80,60
2,3,Venusaur,525,80,82,83,100,100,80
3,3,Mega Venusaur,625,80,100,123,122,120,80
5,4,Charmander,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1093,896,Glastrier,580,100,145,130,65,110,30
1094,897,Spectrier,580,100,65,60,145,80,130
1095,898,Calyrex,500,100,80,80,80,80,80
1096,898,Calyrex Shadow Rider,680,100,85,80,165,100,150
1097,898,Calyrex Ice Rider,680,100,165,150,85,130,50

In [12]:
statsDF_corrected = statsDF.loc[statsDF["nationalDexNumber"] < 802]
statsDF_corrected = statsDF_corrected.set_index(['nationalDexNumber'])

statsDF_corrected

,name,baseStat,healthPoints,attack,defense,specialAttack,specialDefense,speed
nationalDexNumber,,,,,,,,
1,Bulbasaur,318,45,49,49,65,65,45
2,Ivysaur,405,60,62,63,80,80,60
3,Venusaur,525,80,82,83,100,100,80
3,Mega Venusaur,625,80,100,123,122,120,80
4,Charmander,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...
800,Dusk Mane Necrozma,680,97,157,127,113,109,77
800,Necrozma,600,97,107,101,127,89,79
800,Dawn Wings Necrozma,680,97,113,109,157,127,77
800,Ultra Necrozma,754,97,167,97,167,97,129
801,Magearna,600,80,95,115,130,115,65

In [13]:
#statsDF_corrected.to_sql('STATS', engine, if_exists='append')

959

In [16]:
# Table 3
#abilityDF = pd.DataFrame({
#    "name": pokedexDF.name
#})
#
#abilityDF

                         name
nationalDexNumber
1                   Bulbasaur
2                     Ivysaur
3                    Venusaur
4                  Charmander
5                  Charmeleon
...                       ...
797                Celesteela
798                   Kartana
799                  Guzzlord
800                  Necrozma
801                  Magearna

[801 rows x 1 columns]

In [17]:
#abilityDF.to_sql('ABILITIES', engine, if_exists='append')

801

In [ ]:
# Table 4
# heldItemsDF =